* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  background-color: #0a1f55;
  max-width: 100%;
  min-height: 100%;
  font-family: 'Roboto Slab', serif; }

h1 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 5px;
  color: black; }

h2 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 2px;
  color: #0a1f55;
  text-align: center;
  margin: 2rem; }

h3 {
  color: #0a1f55;
  text-align: center; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  margin: auto;
  max-width: 1240px;
  padding: 1rem; }

.container-2 {
  margin: 2rem auto 2rem auto;
  max-width: 1240px;
  max-height: 100%;
  padding: 1rem;
  background-color: whitesmoke;
  width: 90%;
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75); }

.logo {
  width: 70px;
  height: 70px;
  margin: 5px; }

.line {
  display: block;
  background-color: whitesmoke;
  width: 30%;
  height: 2px; }

.header-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: whitesmoke;
  gap: 1rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 3px 11px 17px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 11px 17px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 11px 17px -4px rgba(0, 0, 0, 0.75); }
  .header-2 .titulo {
    display: flex;
    gap: 2rem; }
  .header-2 .barra-1 {
    display: none; }
  .header-2 h1 {
    color: #0a1f55; }
  .header-2 #logo-2 {
    display: none; }

footer {
  margin-top: auto; }
  footer .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0a1f55;
    background-color: whitesmoke;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75); }
    footer .footer h3 {
      text-align: center;
      color: #0a1f55; }
    footer .footer a {
      color: #0a1f55;
      font-weight: bold; }
    footer .footer .barra-footer {
      display: none; }

.boton {
  background-color: wheat;
  -webkit-box-shadow: 0px 7px 17px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 17px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 17px 5px rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
  border-style: none;
  width: 100px;
  height: 40px;
  cursor: pointer; }
  .boton a {
    color: #0a1f55; }

@media (min-width: 768px) {
  .titulo {
    align-items: center;
    gap: 3rem; } }

@media (min-width: 920px) {
  .titulo {
    gap: 3rem; }
  .barra-2 {
    display: none; }
  .header-2 {
    margin-bottom: 3rem;
    justify-content: space-between; }
    .header-2 .barra-1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      gap: 0.5rem;
      column-gap: 2rem;
      margin-right: 2rem; }
      .header-2 .barra-1 a:hover {
        scale: 0.8;
        transition: 1s; }
      .header-2 .barra-1 a {
        color: #0a1f55;
        font-weight: bold; }
  footer .footer {
    margin-top: 3rem; }
    footer .footer #logo-4 {
      display: none; }
    footer .footer .barra-footer {
      display: block;
      margin-right: 2rem; }
      footer .footer .barra-footer .barra-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 1rem;
        background-color: whitesmoke;
        justify-items: center; }
        footer .footer .barra-footer .barra-nav a {
          color: #0a1f55; }
        footer .footer .barra-footer .barra-nav li:hover {
          scale: 0.8;
          transition: 1s; } }

@media (min-width: 1200px) {
  header .header-2 .barra-1 {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    justify-items: center;
    margin-right: 0; }
  header .header-2 #logo-2 {
    display: block; }
  footer .footer #logo-4 {
    display: block; } }

.carrusel {
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  margin-top: 0; }
  .carrusel img {
    min-height: 340px;
    max-height: 340px; }

.box {
  background-color: #f76708;
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 0px solid #000000;
  width: 70%;
  -webkit-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0.5rem; }

.registro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: large;
  font-weight: bold; }

.img-registro {
  width: 100px; }

.registro a {
  color: whitesmoke;
  margin-left: 0.5rem; }

.container h2 {
  text-align: center;
  margin: 20px;
  font-size: xx-large;
  color: whitesmoke; }

.noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem; }

.noticia {
  max-height: 100%;
  padding: 1rem;
  background-color: whitesmoke;
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  justify-self: center;
  width: 90%; }

.info-noticia {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.noticia img {
  max-width: 100%;
  border-radius: 1rem; }

.noticia a,
.noticia p {
  color: black; }

.noticia-4,
.noticia-1 {
  display: none; }

.albunes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem; }

@media (min-width: 576px) {
  .carrusel img {
    object-fit: cover;
    object-position: center;
    min-height: 430px;
    max-height: 430px; } }

@media (min-width: 768px) {
  .carrusel img {
    min-height: 530px;
    max-height: 530px; }
  .noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 1rem; }
    .noticias .noticia {
      min-height: 100%;
      max-width: 100%; }
      .noticias .noticia img {
        max-height: 400px; }
    .noticias .noticia:hover {
      scale: 1.01;
      transition: 0.5s; }
    .noticias .noticia-1 {
      display: grid;
      grid-column: span 2; }
      .noticias .noticia-1 img {
        max-height: 100%; }
    .noticias .noticia-3,
    .noticias .noticia-2 {
      display: grid; }
      .noticias .noticia-3 img,
      .noticias .noticia-2 img {
        max-height: 100%; }
    .noticias .noticia-5 {
      display: none; } }

@media (min-width: 920px) {
  .header-2 .titulo {
    gap: 1rem; }
  #header {
    margin-bottom: 0; }
  .carrusel {
    border-top: 2px solid #0a1f55;
    border-bottom: 2px solid whitesmoke; }
    .carrusel img {
      max-height: 570px; } }

@media (min-width: 1200px) {
  .noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem; }
    .noticias .noticia {
      min-height: 100%;
      max-width: 100%; }
      .noticias .noticia img {
        max-height: 400px; }
    .noticias .noticia-1 {
      display: grid;
      grid-column: span 2; }
      .noticias .noticia-1 img {
        max-height: 100%; }
    .noticias .noticia-4,
    .noticias .noticia-5,
    .noticias .noticia-2 {
      display: grid; }
      .noticias .noticia-4 img,
      .noticias .noticia-5 img,
      .noticias .noticia-2 img {
        max-height: 100%; }
  .cancionero {
    margin: 0; } }

.btn-nav {
  background-color: #f76708; }

.barra-nav {
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.2rem;
  background-color: #f76708; }
  .barra-nav a {
    color: whitesmoke; }

.container-2 .nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
  padding: 1rem; }
  .container-2 .nosotros img {
    max-width: 100%;
    border-radius: 1rem; }

.container-2 .texto-nosotros {
  line-height: 1.5rem; }
  .container-2 .texto-nosotros p {
    margin-top: 10px; }

@media (min-width: 920px) {
  .container-2 .nosotros {
    display: flex;
    flex-direction: row; } }

.noticias-2, .galeria, .albunes, .single {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.noticias-2 {
  gap: 3rem; }
  .noticias-2 .noticia {
    max-width: 300px; }
    .noticias-2 .noticia img {
      max-height: 300px; }
  .noticias-2 .noticia-15,
  .noticias-2 .noticia-16,
  .noticias-2 .noticia-17,
  .noticias-2 .noticia-18,
  .noticias-2 .noticia-14 {
    display: none; }

.nav-page {
  display: flex;
  justify-content: center;
  margin-top: 3rem; }
  .nav-page .nav-noticias a {
    color: black; }

@media (min-width: 768px) {
  .noticias-2 .noticia-15,
  .noticias-2 .noticia-16 {
    display: flex; }
  .noticias-2 .noticia {
    height: 100%; } }

@media (min-width: 1200px) {
  .noticias-2 .noticia-17,
  .noticias-2 .noticia-18,
  .noticias-2 .noticia-14 {
    display: flex; }
  .noticias-2 .noticia img {
    max-height: 300px; } }

.noticias-2, .galeria, .albunes, .single {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.galeria {
  gap: 1rem;
  margin-top: 2rem; }

.img-galeria {
  width: 100px;
  height: 100px; }

.img-galeria:hover {
  cursor: pointer;
  transform: scale(1.3);
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75); }

@media (min-width: 768px) {
  .img-galeria {
    width: 180px;
    height: 180px; } }

@media (min-width: 1200px) {
  .img-galeria {
    width: 250px;
    height: 250px; } }

.container-b2 .container-contacto {
  margin: auto;
  width: 800px;
  height: 100%;
  max-height: 100%;
  padding: 1rem;
  background-color: #f76708;
  border: 3px solid #000000;
  -webkit-box-shadow: 0px 14px 30px -8px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 14px 30px -8px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 14px 30px -8px rgba(0, 0, 0, 0.39);
  border-radius: 2rem;
  max-width: 100%; }
  .container-b2 .container-contacto h2 {
    color: black; }
  .container-b2 .container-contacto .formulario {
    max-width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-style: none;
    gap: 2rem;
    align-items: center; }
    .container-b2 .container-contacto .formulario .casilla-1,
    .container-b2 .container-contacto .formulario .casilla-2,
    .container-b2 .container-contacto .formulario .casilla-3,
    .container-b2 .container-contacto .formulario .casilla-4 {
      width: 90%; }
    .container-b2 .container-contacto .formulario label {
      font-weight: bold;
      font-size: large;
      margin-bottom: 5px;
      margin-left: 10px; }
    .container-b2 .container-contacto .formulario .input {
      border-radius: 1rem;
      border: 1px solid grey;
      width: 100%;
      height: 50px;
      max-width: 100%; }
    .container-b2 .container-contacto .formulario .casilla-5 {
      max-width: 100%;
      max-height: 100%; }
      .container-b2 .container-contacto .formulario .casilla-5 #consulta {
        max-width: 100%;
        max-height: 100px; }
    .container-b2 .container-contacto .formulario .botones {
      display: flex;
      justify-content: right;
      gap: 1rem; }

@media (min-width: 768px) {
  .container-b2 {
    margin: auto 0; }
    .container-b2 .container-contacto .formulario {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem;
      justify-items: center; }
      .container-b2 .container-contacto .formulario .casilla-5 {
        grid-row: 3;
        grid-column: span 2;
        max-width: 100%; }
      .container-b2 .container-contacto .formulario .casilla-6 {
        grid-column: 2;
        justify-self: right; } }

.container-b2 {
  padding: 1.5rem; }
  .container-b2 h2 {
    text-align: center;
    color: whitesmoke; }
  .container-b2 .crear-post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
  .container-b2 .division {
    display: flex;
    justify-content: space-between;
    margin: 0; }
    .container-b2 .division .posts {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 50px; }
      .container-b2 .division .posts .post {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: beige;
        border-radius: 1rem;
        padding: 1rem;
        -webkit-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75); }
  .container-b2 .img-blog {
    border-radius: 2rem;
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px; }
  .container-b2 .input-post {
    width: 600px;
    height: 50px;
    border-radius: 1rem; }

.menu-perfil {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem; }

.iconos {
  display: flex;
  justify-content: end; }

.icon {
  width: 50px; }

.perfil {
  display: none; }

@media (min-width: 576px) {
  .container-b2 .division .posts .post {
    flex-direction: row;
    gap: 1rem; }
    .container-b2 .division .posts .post .iconos {
      flex-direction: column;
      gap: 1rem; } }

@media (min-width: 920px) {
  .container-b2 {
    margin-top: 2rem;
    margin: auto;
    max-width: 70%; }
    .container-b2 .perfil {
      border: 5px solid whitesmoke;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      position: fixed;
      right: 0;
      width: 150px;
      padding: 1rem; }
      .container-b2 .perfil .menu-perfil {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem; }
        .container-b2 .perfil .menu-perfil a {
          text-decoration: none;
          color: whitesmoke; } }

.noticias-2, .galeria, .albunes, .single {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* Cancionero */
.albunes {
  gap: 2rem; }

.single {
  gap: 2rem; }

@media (min-width: 1200px) {
  .albunes-i {
    width: 100%; } }
