// Import
@import "../utilidades/variables";
@import "../utilidades/mixin";
// Contenido Principal
// Header
.container-b2 {
    padding: 1.5rem;
    h2 {
        text-align: center;
        color: whitesmoke;
    }
    // Crear Post
    .crear-post {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .division {
        display: flex;
        justify-content: center;
        margin: 0;
        .posts {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 50px;
            .post {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                background-color: beige;
                border-radius: 1rem;
                padding: 1rem;
                -webkit-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
            }
        }
    }
    .img-blog {
        border-radius: 2rem;
        min-width: 70px;
        min-height: 70px;
        max-width: 70px;
        max-height: 70px;
    }
    .input-post {
        width: 600px;
        height: 50px;
        border-radius: 1rem;
    }
}

.menu-perfil {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.iconos {
    display: flex;
    justify-content: end;
}

.icon {
    width: 50px;
}

.perfil {
    display: none;
}

// Media Query
//Tablet
@include celular {
    .container-b2 {
        .division {
            .posts {
                .post {
                    flex-direction: row;
                    gap: 1rem;
                    min-width: 100%;
                    justify-content: space-between;
                    .info-post {
                        width: 100%;
                    }
                    .iconos {
                        flex-direction: column;
                        gap: 1rem;
                    }
                }
            }
        }
    }
}

// Pc
@include notebook {
    // Contenido Principal
    .container-b2 {
        margin-top: 2rem;
        margin: auto;
        max-width: 70%;
        .perfil {
            border: 5px solid whitesmoke;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            position: fixed;
            right: 0;
            width: 150px;
            padding: 1rem;
            .menu-perfil {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                margin-bottom: 2rem;
                a {
                    text-decoration: none;
                    color: $blanco;
                }
            }
        }
    }
}