//Import 
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* Cancionero */

.albunes {
    @extend %flex-wrap;
    gap: 2rem;
}

.single {
    @extend %flex-wrap;
    gap: 2rem;
}

// Media Query
@include desktop {
    // Header
    // Contenido Principal
    .albunes-i {
        width: 100%;
    }
}