//Import 
@import "../utilidades/variables";
@import "../utilidades/mixin";

/* Cancionero */

.albunes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.single {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

// Media Query
@include desktop {
    // Header
    // Contenido Principal
    .albunes-i {
        width: 100%;
    }
}