// Import 
@import "../utilidades/variables";
@import "../utilidades/mixin";
// Contenido Principal
.container-b2 {
    .container-contacto {
        margin: auto;
        width: 800px;
        height: 100%;
        max-height: 100%;
        padding: 1rem;
        background-color: $naranja;
        border: 3px solid #000000;
        -webkit-box-shadow: 0px 14px 30px -8px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 0px 14px 30px -8px rgba(0, 0, 0, 0.39);
        box-shadow: 0px 14px 30px -8px rgba(0, 0, 0, 0.39);
        border-radius: 2rem;
        max-width: 100%;
        h2 {
            color: black;
        }
        .formulario {
            max-width: 100%;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            border-style: none;
            gap: 2rem;
            align-items: center;
            //Casilla
            .casilla-1,
            .casilla-2,
            .casilla-3,
            .casilla-4 {
                width: 90%;
            }
            //Label
            label {
                font-weight: bold;
                font-size: large;
                margin-bottom: 5px;
                margin-left: 10px;
            }
            // Inputs
            .input {
                border-radius: 1rem;
                border: 1px solid grey;
                width: 100%;
                height: 50px;
                max-width: 100%;
            }
            .casilla-5 {
                max-width: 100%;
                max-height: 100%;
                #consulta {
                    max-width: 100%;
                    max-height: 100px;
                }
            }
            // Botones
            .botones {
                display: flex;
                justify-content: right;
                gap: 1rem;
            }
        }
    }
}

// Media Query
// Tablet
@include tablet {
    .container-b2 {
        margin: auto 0;
        .container-contacto {
            .formulario {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 1rem;
                justify-items: center;
                .casilla-5 {
                    grid-row: 3;
                    grid-column: span 2;
                    max-width: 100%;
                }
                .casilla-6 {
                    grid-column: 2;
                    justify-self: right;
                }
            }
        }
    }
}