// Import
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";
// Contenido Principal
.galeria {
    @extend %flex-wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.img-galeria {
    width: 100px;
    height: 100px;
}

.btn-X {
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: whitesmoke;
}

.btn-X:hover {
    cursor: pointer;
}

.img-galeria:hover {
    cursor: pointer;
    transform: scale(1.3);
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 18px 3px rgba(0, 0, 0, 0.75);
}

// Media Query
// Tablet
@include tablet {
    // Contenido Principal
    .img-galeria {
        width: 180px;
        height: 180px;
    }
    .expand-img {
        width: 90%;
        max-width: 600px;
        height: 90%;
        max-height: 600px;
    }
    .full-img {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// PC
@include desktop {
    // Contenido Principal
    .img-galeria {
        width: 250px;
        height: 250px;
    }
}