//Import 
@import "../utilidades/variables";
@import "../utilidades/mixin";
// Header 
.btn-nav {
    background-color: $naranja;
}

.barra-nav {
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.2rem;
    background-color: $naranja;
    a {
        color: $blanco;
    }
}

//Contenido Principal
.container-2 {
    .nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        gap: 2rem;
        padding: 1rem;
        img {
            max-width: 100%;
            border-radius: 1rem;
        }
    }
    .texto-nosotros {
        line-height: 1.5rem;
        p {
            margin-top: 10px;
        }
    }
}

// Media Query
@include notebook {
    // Contenido Principal
    .container-2 {
        .nosotros {
            display: flex;
            flex-direction: row;
        }
    }
}